.nameCafe {
  font-size: 37px;
  font-weight: 700;
  color: rgb(123, 112, 239);
}
.topForm {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  text-align: start;
}
.textReference {
  font-size: 18px;
  font-weight: 500;
  color: chocolate;
}
