.btnNameG,
.btnNameN,
.btnNameB,
.btnNameR {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px rgb(158, 138, 138);
  padding-block: 3px;
  padding-inline: 9px;
  font-size: 20px;
}
.btnRow {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}
.btnNameG {
  color: green;
}
.btnNameN {
  color: rgb(199, 199, 6);
}
.btnNameB {
  color: red;
}
.btnNameR {
  color: rgb(164, 184, 235);
}
